.wrap {
  width: 1100px;
  margin: 0 auto;
}

.wrap3 {
  width: 980px;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

* {
  touch-action: pan-y;
}

body {
  min-width: 1100px;
  background: #f5f5f5;
}